.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 999rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.25) scaleY(1.5);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 99rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }

  &--white {
    background-color: #fff;
    color: $color-grey;

    &::after {
      background-color: #fff;
    }
  }

  &--animated {
    animation: moveUpButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
